// 25-july-2024

.table-div{
    th{
        width: fit-content;
        white-space: nowrap;
    }

    .adrs-td{
        width: fit-content;
        min-width: 250px;
    }

    .nmbr-td{
        width: fit-content;
        min-width: 190px;
    }

    .status-td{
        span{
            padding: 6px 10px;          
            color: #fff;
            min-width: 89px;
            width: fit-content;
            display: block;
            text-align: center;

            &.active{
                background-color: #008000a6;
            }

            &.block{
                background-color: #ff000099;
            }
        }
    }
}

.cstmDropdown{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: #373737;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.pagination-div{
    display: flex;
    justify-content: end;
    padding: 15px 0px;
    padding-bottom: 0px;
    .pagination{
        margin: 0px;
    }
}

.search-bar{
    width: 250px;
}

.filters-options-sec{
    padding-bottom: 20px;
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid #c1c1c1;
    .flxx{       
        display: flex;
        justify-content: space-between;
        align-items: center;   

        .bttns-sec{
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }

    .sub-filter-sec{
        padding: 20px 0px;
        display: flex;
        align-items: center;
        gap: 15px;
        .stts-flter{
            width: 220px;
        }
    }
}

.myform{
    .form-group{
        margin-bottom: 15px;
        label{
            margin-bottom: 10px;
        }
    }
}

.myVerticalTabs{
    .nav-pills{
        width: 20%;
        box-shadow: 0px 2px 4px rgba(0, 0, 20, 0.08), 0px 1px 2px rgba(0, 0, 20, 0.08);
        border: 0px;
        border-radius: 0.5rem;
        padding: 10px;
        background-color: #fff;
        gap: 15px;
        .nav-link{
            text-align: left;
        }
    }
    .tab-content{
        width: 80%;
    }
}

.verified{
    font-size: 14px;
    font-weight: 600;
    color: green;
    position: absolute;
    top: 10px;
    right: 25px;
}

.sparks-gained-hdr{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 4px #c1c1c1;

    .lft-spark{
        display: flex;
        align-items: center;
        gap: 15px;

        img{
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 15px;
        }

        .lft-cntnt{
            h4{
                font-weight: 600;
                font-size: 18px;
            }

            p{
                margin: 0px;
                font-size: 18px;
                font-weight: 600;
            }
        }

    }
}

.sparks-history{
    margin-top: 35px;
    .spark-date{
        h6{
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 5px;
            white-space: nowrap;
        }
        p{
            font-size: 14px;
            font-weight: 600;
            white-space: nowrap;
        }
    }

    .spark-amt{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            width: 38px;
        }
        p{
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }
    }
}

.only-view{
    .form-control{
     pointer-events: none;
    }
}

.individual-tag{
    padding: 6px 11px;
    background: #373737;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}

// 29/july/2024

.questions-tab-cntnt{
  .question-header {
            width: 100%;
            padding: 20px;        
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0px 0px 4px #c1c1c1;       

            .dvs-smmry{
                display: flex;
                align-items: center;
                padding-top: 10px;
                width: 100%;
                gap: 40px;

                    .smmry-item{
                       p{
                        margin: 0px;
                       } 

                       h4{
                        font-size: 21px;
                        font-weight: 700;
                       }


                    }
                
            }
        }
    }


